<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<div class ="col-md-10 col-md-offset-1">
    <h2 class ="text-center">All  Events</h2>
    <table class="table table-bordered table-striped">
      <tr class="text-center"><th>Name</th><th>Start Date</th><th>End Date</th><th>Create At</th><th>Image</th><th>Actions</th></tr>
      <% @events.each do |event| %>
          <tr>
            <td><strong><%= event.name %></strong></td>
            <td><%= event.event_start_date.strftime("%Y-%m-%d")  %></td>
            <td><%= event.event_finish_date.strftime("%Y-%m-%d")  %></td>
            <td><%= event.created_at.strftime("%Y-%m-%d")  %></td>
            <td><%= image_tag event.avatar.url(:thumb).to_s, class: "img-thumbnail" %></td>
          </tr>
      <% end %>
    </table>
  <div class ="text-center">       
    <%= will_paginate @events %>
  </div>
 </div>